h1, p {
    text-align: center;
    width: 100%;
    font-family: sans-serif ;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #f3f3f3;
}

form {
    background-color: rgba(27, 27, 50, 0.8);
    width: 85%;
    color: #f3f3f3;
    height: auto;
    margin: auto;
}

body {
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg)
}

.stack input {
    display: inline;
}
.stack p {
    text-align: left;
}

#name, #email, #number {
    display: block;
    width: 95%;
    border-radius: 5px;
    margin: 3px 0;
    min-height: 2em;

} 

select {
    display: block;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    border-radius: 5px;
    min-height: 2em;
}


textarea {
    display: block;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    border-radius: 5px;
    min-height: 5em;

  }

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #37af65;
    border: none;
    min-width: 300px;
    color: #f3f3f3;
  }